<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target xsi:type="EntityFramework"
            name="DBSec"
            ConnectionStringName="Log">
      <layout xsi:type="JsonLayout">
        <attribute name="Date" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
        <attribute name="Thread" layout="${threadid}" />
        <attribute name="Level" layout="${level}" />
        <attribute name="Logger" layout="${logger}" />
        <attribute name="Message" layout="${message}" />
        <attribute name="Exception" layout="${exception}" />
        <attribute name="StackTrace" layout="${stacktrace}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="DBSec" />
  </rules>
</nlog>
